---
---

//------------------------------------------------

$headlineColor: #f9e8e8
$textColor: #f9e8e8

// Links
$accentColor: #fcb874
$accentLight: adjust-hue(saturate(lighten($accentColor, 11%), 12.6%), 14%)

$selectionColor: lighten($accentColor, 30%)

// $documentBackgroundColor: #23171f
$documentBackgroundColor: #ffffff
$bgcolor: #210f0f

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
