---
---

//------------------------------------------------

$headlineColor: #ffe3b7
$textColor: #f9e8e8

// Links
$accentColor: #e88285
$accentLight: lighten($accentColor, 11%)

$selectionColor: lighten($accentColor, 30%)

$documentBackgroundColor: #23171f

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
